
@media screen and (max-width: 716px) {
  

  nav {
    flex-direction: column;
    height: auto;
    padding: 1em;
  }

  nav > div {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em 0;
  }

 
  main > div {
    width: 95%;
    padding: 1em;
    margin: auto;
  }


  table {
    width: 100% !important;
    margin: 0 !important;
    overflow-x: auto;
    display: block;
  }


  .colunas {
    flex-direction: column;
    width: 100%;
  }

  .colunas > * {
    width: 100%;
  }


  .login-box {
    width: 90% !important;
    height: auto;
    margin: 50px auto;
  }

  .input-box .input-field {
    width: 100% 
  }

  .input-field:focus {
    width: 100% !important;
  }

  .forgot {
    flex-direction: column;
    align-items: flex-start;
  }

  .section2 {
    margin-left: 0 !important;
    margin-top: 10px;
  }

 
  footer {
    padding: 1em;
    text-align: center;
  }

  footer ul {
    padding: 0;
  }

  footer img {
    width: 150px;
  }

  .rn {
    display: none !important;
  }

  .container h1 {
    text-align: center;
    font-size: 20px;
    padding: 10px;
  
}



}


