* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: blue;
}

main>div {
    background-color: white;
    border-radius: 2em;
    padding: 2em;
    margin: auto;
    width: 70%;
    display: flex;
    text-align: center;
}

main>div>* {
    width: 100%;

}

.selecionador>select {
    display: block;
    font-size: 2em;
    background-color: aqua;
    width: 100%;
    margin-bottom: 1em;
    color: antiquewhite;
}

.selecionador>input {
    font-size: 2em;
    background-color: darkblue;
    color: antiquewhite;
    padding: 0.2em;
}

nav {
    background-color: white;
    display: flex; /* Organiza o conteúdo em linha */
    align-items: center; /* Alinha verticalmente */
    justify-content: space-between; /* Espaça os itens */
    padding: 0 2em; /* Espaçamento lateral */
    height: 6em;
}

nav > div {
    display: flex;
}

nav a {
    display: flex; /* Ícone e texto lado a lado */
    align-items: center;
    gap: 10px; /* Espaco entre ícone e texto */
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

nav span {
    display: inline-block;
}


footer {
    background-color: #f8f9fa;
    padding: 30px 20px;
    text-align: center;
    color: black;
    margin-top: 155px; /* abaixa o cabecalho */
    position: fixed;
    width: 100%;
    bottom: 0; /*fundo*/
    
}

footer ul {
    list-style: none; /* Tirar os pontos da lista */
}

footer ul li {
    margin: 10px ; /* Espaco entre os itens da lista */
}

footer div {
    margin-bottom: 20px; /* Espaco entre a logo e os elementos */
}

nav img {
    width: 300px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
   
}

footer img {
    width: 250px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
}



