* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: blue;
}

main>div {
    background-color: white;
    border-radius: 2em;
    padding: 2em;
    margin: auto;
    width: 70%;
    display: flex;
    text-align: center;
}

main>div>* {
    width: 100%;

}
.selecionador{
    margin-top: 30px;
}
.selecionador>select {
    display: block;
    font-size: 2em;
    background-color: #539CB8;
    width: 100%;
    margin-bottom: 1em;
    color: white;
}

.selecionador>input {
    font-size: 2em;
    background-color: #384866;
    color: white;
    padding: 0.2em;
}

nav {
    background-color: white;
    display: flex; /* Organiza o conteúdo em linha */
    align-items: center; /* Alinha verticalmente */
    justify-content: space-between; /* Espaça os itens */
    padding: 0 2em; /* Espaçamento lateral */
    height: 6em;
}

nav > div {
    display: flex;
}

nav a {
    display: flex; /* Ícone e texto lado a lado */
    align-items: center;
    gap: 10px; /* Espaco entre ícone e texto */
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

nav span {
    display: inline-block;
}


footer {
    box-sizing: border-box;
    background-color: #f8f9fa;
    padding: 30px 20px;
    text-align: center;
    color: black;
    position: relative;
    width: 100%;
    margin-top: 115px;
    
}

footer ul {
    list-style: none; /* Tirar os pontos da lista */
    margin-top: 30px;
}

footer ul li {
    margin: 10px ; /* Espaco entre os itens da lista */
}

footer div {
    margin-bottom: 20px; /* Espaco entre a logo e os elementos */
}

nav img {
    width: 300px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
   
}

footer img {
    width: 250px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
}
.tabela {
    display: flex;
    justify-content: center; /* Centraliza a tabela horizontalmente */
    align-items: flex-start; /* Alinha a tabela ao topo da div */
  }
  
table{
    width: 95%;
    border-collapse: collapse;
    background-color: #384866;
}
td, th{
    border: 5px solid white; /* Adiciona uma borda preta de 1px */
    padding: 5px;
    color: white;
}
caption{
    color:#384866;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Arial', sans-serif;
}
.meio{
    margin-top: 110px;
}
h4{
    margin-top: 50px;
    font-size: 35px;
    color:#384866;
}
area:hover{
    background-color: red;
    
}

.colunas{
    display: flex;
    width: 50%;
    margin: auto;
}

.colunas>*{
    width: 100%;
}

.ul a{
    color: #000000;
}
