{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClimoTrack</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/materialSymbols.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
</head>
<body>
    <nav>
        <a href="{% url "home" %}" class="logotipo">
            <header>
                <h1>ClimoTrack</h1>
            </header>
        </a>
        <div>
            <a href="{% url "home" %}">
                <span class="material-symbols-outlined material-symbols-filled" >
                    home
                </span>
                Home
            </a>
            <a href="">
                <span class ="material-symbols-outlined material-symbols-filled">
                    info
                </span>
                Sobre
            </a>
            <a href="">
                <span class = "material-symbols-outlined material-symbols-filled">
                    phone_android
                </span>
                Contato
            </a>
            <a href="">
                <span class ="material-symbols-outlined material-symbols-filled">
                    help
                </span>
                Ajuda
            </a>
            <a href="{% url "admin:login" %}">
                <span class ="material-symbols-outlined material-symbols-filled">
                    login
                </span>
                Login
            </a>
        </div>
    </nav>
    
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>