{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClimoTrack</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/materialSymbols.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <link rel="stylesheet" href="{% static "css/devs.css" %}">
    <!-- <link rel="stylesheet" href="{% static "css/login.css" %}"> -->
</head>
<body>
    <nav>
        <a href="{% url "home" %}" class="logotipo">
            <header>
                <img src="{% static 'imagens/ClimoTrack.png' %}" alt="Logo do ClimoTrack">
            </header>
        </a>
        <div>
            <a href="{% url "home" %}">
                <span class="material-symbols-outlined material-symbols-filled">home</span>
                Home
            </a>
            <a href="">
                <span class="material-symbols-outlined material-symbols-filled">info</span>
                Sobre
            </a>
            <a href="{% url "devs" %}" >
                <span class="material-symbols-outlined material-symbols-filled">groups</span>
                Equipe
            </a>
            <a href="{% url "login" %}">
                <span class="material-symbols-outlined material-symbols-filled">login</span>
                Login
            </a>
        </div>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        
           
            <div>
                <img src="{% static 'imagens/logo.png' %}" alt='Logo do IFRN'>   
            </div>
            <div class = "colunas">
                <div>
                    <h4>Links Relacionados</h4>
                    <ul class = "ul">
                        <li><a href="https://portal.ifrn.edu.br/campus/santacruz/" target="_blank">Site do IFRN-SC</a></li>
                        <li><a href="https://github.com/arthurr07/ClimoTrack.git" target="_blank">GitHub do Projeto</a></li>
                        <li><a href="">Banco de dados</a></li>
                    </ul>
                </div>

                <div>
                    <h4>Tecnologias utilizadas</h4>
                    <ul class = "ul">
                        <li><a href="https://www.alura.com.br/artigos/python?srsltid=AfmBOoo3ASkQ4MZ81GMoqogWB4IMtwfWoBJMqLfRM2NvOri2zRQoCnHq" target="_blank">Python</a></li>
                        <li><a href="https://www.alura.com.br/artigos/django-framework?srsltid=AfmBOoo-x04fNCEI4vV4XwVxFgVwntbjCYwjfAjPgtEM6MKi6v54ErEg" target="_blank">Django</a></li>
                        <li><a href="https://www.alura.com.br/artigos/css?srsltid=AfmBOopmKD8lQLAHzKCDzYdXxDEeMpCHddjeKRMir_W_CJ1JM3hTQRfN" target="_blank">CSS</a></li>
                        <li><a href="https://www.alura.com.br/artigos/html?srsltid=AfmBOopvKdYnbnqMNvkj7K6NKc8r0FwSdchhW3yjlTsRQAcCGjTS6-hP" target="_blank">HTML</a></li>
                        <li><a href="https://www.alura.com.br/conteudo/sqlite-online-conhecendo-instrucoes-sql#:~:text=%C3%89%20uma%20linguagem%20que%20consegue,se%20ligam%20de%20alguma%20forma." target="_blank">SQLite</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
