{% extends "_master.html" %}
{% load static %}
{% block main %}

<div class="container">
    <h1>Conheça a Equipe - ClimoTrack</h1>
</div>

<div class="team-member">
    <img src="{% static "imagens/Fatima.png" %}" alt="">
    <div class="info">
        <h2>Fatima Ellen</h2>
        <p>b</p>
    </div>
</div>

<div class="team-member">
    <img src="{% static "imagens/Guilherme.jpg" %}" alt="">
    <div class="info">
        <h2>Guilherme Silva</h2>
        <p>b</p>
    </div>
</div>

<div class="team-member">
    <img class = "img-right" src="{% static "imagens/Arthur.jpg" %}" alt="">
    <div class="info">
        <h2>José Arthur</h2>
        <p>b</p>
    </div>
</div>


<div class="team-member">
    <img src="{% static "imagens/Julio.jpeg" %}" alt="">
    <div class="info">
        <h2>Júlio César</h2>
        <p>b</p>
    </div>
</div>

<div class="team-member">
    <img src="{% static "imagens/JoaoNeto.png" %}" alt="">
    <div class="info">
        <h2>João Neto</h2>
        <p>b</p>
    </div>
</div>

<div class="team-member">
    <img src="{% static "imagens/Juddson.jpeg" %}" alt="">
    <div class="info">
        <h2>Juddson Matheus</h2>
        <p>b</p>
    </div>
</div>

<div class="team-member">
        <img class = "img-right" src="{% static "imagens/marmota.jpg" %}" alt="">
    <div class="info">
        <h2>Renato Ferreira</h2>
        <p>b</p>
    </div>
</div>
{% endblock %}