{% extends "_master.html" %}
{% load static %}
{% block main %}

<div class="container">
    <h1>Conheça a Equipe - ClimoTrack</h1>
</div>

<div class="team-member">
    <img src="" alt="">
    <div class="info">
        <h2>Guilherme Silva</h2>
        <p>b</p>
    </div>
</div>

<div class="team-member">
    <img src="" alt="">
    <div class="info">
        <h2>José Arthur</h2>
        <p>b</p>
    </div>
</div>


<div class="team-member">
    <img src="" alt="">
    <div class="info">
        <h2>Júlio César</h2>
        <p>b</p>
    </div>
</div>


<div class="team-member">
    <img src="" alt="">
    <div class="info">
        <h2>Renato Ferreira</h2>
        <p>b</p>
    </div>
</div>
{% endblock %}