{% extends "_master.html" %}
{% load static %}
{% block main %}
        <div>
            <form action="{% url 'home' %}" class="selecionador" method = "POST">
                {% csrf_token %}
                <select id = 'uf'>
                    {% for uf in uf_list %}
                    <option value="{{uf.id}}">{{uf.nome}}</option>
                    {% endfor %}
                </select>
                <select name="cidade" id="cidade">
                    {% for city in city_list %}
                    <option value="{{city.id}}">{{city.estacao}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Localizar"> 
            </form>
            <div>
                <!-- Criar o mapa -->
                id {{data.id}}
            </div>
        </div>
    {% endblock %}