{% extends "_master.html" %}
{% load static %}
{% block main %}
        <div>
           <table>
            <thead>
                <tr>
                  <th>Mês</th>
                  <th>Municipio</th>
                  <th>Balanço Hídrico</th>
                  <th>Índice Pluviométrico</th>
                  <th>Precipitação</th>
                </tr>
            </thead> 
            <tbody> 
                {% for city in list %}
                <tr>
                    <td>Janeiro</td>
                    <td>{{city.cidade}}</td>
                    {% comment %} <td>{{ind_pluviometricos}}</td>
                    <td>{{bal_hidrico}}</td> {% endcomment %}
                    <td>{{precipitacao}}</td>
                </tr>
                {% endfor %}
                
            </tbody>
           </table>
        </div>
        {% endblock %}