    {% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header>

    </header>
    <nav>

    </nav>
    <main>
        <div>
           <table>
            <thead>
                <tr>
                  <th>Mês</th>
                  <th>Municipio</th>
                  <th>Balanço Hídrico</th>
                  <th>Índice Pluviométrico</th>
                  <th>Precipitação</th>
                </tr>
            </thead> 
            <tbody> 
                <tr>
                    <td>Janeiro</td>
                    <td>Santa Cruz</td>
                    <td>123</td>
                    <td>321</td>
                    <td>213</td>
                </tr>
                <tr>
                    <td>Fevereiro</td>
                    <td>Santa Cruz</td>
                    <td>123</td>
                    <td>321</td>
                    <td>213</td>
                </tr>
                <tr>
                    <td>Março</td>
                    <td>Santa Cruz</td>
                    <td>123</td>
                    <td>321</td>
                    <td>213</td>
                </tr>
                
            </tbody>
           </table>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>